@import "./base.scss";

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

a {
  text-decoration: none;
  color: teal;
}

img {
  max-width: 100%;
}

article {
  font-family: 'Times New Roman', Times, serif
}