html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

a {
  text-decoration: none;
  color: teal;
}

img {
  display: block;
  max-width: 100%;
}

table {
  margin: 1em auto;
  border: 1px solid;
  width: 100%;
  line-height: 2em;

  td,
  th {
    border: 1px solid;
  }
}

p,
ul,
ol {
  line-height: 2em;
}

.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;

  svg {
    height: 1em;
    width: 1em;
  }
}

.svg-icon.svg-baseline svg {
  bottom: -0.125em;
  position: absolute;
}

.small {
  font-size: smaller;
}