html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6em;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

a {
  text-decoration: none;
  color: teal;
}

img {
  max-width: 100%;
}